#title {
  text-align: center;
}
#image {
    margin: auto;
    display: block;
    max-width: 100%;
    height: auto;
  }


#img-div{
  margin: 10px 5%;
  padding: 10px 10px;
  background-color: white;
  text-align: center;
}

body {
  background-color: #ECEFF1;
}
section {
  margin-left: 30px;
}

.footer {
  text-align: center;

}